{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>
        <div style><img src="{{ asset('/book_covers/book_cover.jpg') }}" alt="Cover Page" height="150"></div>
        <div>
            <p>{{ book.name|e }}</p>
            <p>{{ book.author|e }}</p>
            <p>{{ book.description|e }}</p>
            <p>$ {{ book.price|e }}</p>
            <p>Quantity : <input type='text' id='quantity' name='quantity' value='1' /></p>
        </div>
        <div>
            <input type="button" value="Go Back" />
            <input type="button" value="Add to Cart" />
            <input type="button" value="Go to Cart" />
        </div>
    </div>

</div>
{% endblock %}
