{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class='cart-details'>
        {% for book in bookSelected %}
            <div class='item-display'>
                <div class='item-inner'>
                    <div class="item-image">
                        <img src="{{ imagepath ~ book[4] }}" alt="Cover Page" height="100">
                    </div>
                    <div class="item-details">
                        <h3>{{book[1]}}</h3>
                        <p>{{book[2]}}<p>
                    </div>
                    <div class="item-price">
                        <p>$ {{book[3]}}</p>
                    </div>
                    <div class="item-qty">
                        <p>Qty: {{book[5]}}</p>
                    </div>
                    <div class="item-action">
                        <a action='{{ url('add_to_cart',{'id' : book[1] })}}'  method='post'>
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class='checkout-details'>
        Checkout 
    </div>
</div>
{% endblock %}
