{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form action='{{ path('show_books') }}' method='post' > 
        <select id='category' name='category' >
            <option value=''>Select a category</option>
            {% for category in categories %}
            <option value='{{ category.id }}' {{(selected_category == category.id )? 'selected': ''}}>{{ category.name|e }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="go-to-button" value="Show Books" />
    </form>
    
    {% if show_books %}
    <div class="book-area">
        {% for book in books %}
            {{book.}}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}

